
    .page{
        position: absolute;
        top: 10vh;
        /*width: 100vw;*/
        height: 90vh;

        display: grid;
        grid-template-columns: repeat(2 ,2fr);
    }
    .page>:first-child{

        width: 35vw;
    }

    .form{
        /*position: absolute;*/
        top: 3vh;
        width: 35vw;
        height: 70vh;
        background: white;
        border-radius: 10px;
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top:3vh ;

    }

    .form-input>input{
        width: 33vw;
    }

    .form-input{
        width: 33vw;
    }

    .form-button{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .table{
        /*position: absolute;*/
        width: 62vw;
        top: 0;

        border-radius: 10px;
        margin-top:1.5vh ;
        margin-right: 1vw;


    }

    .payment{
        width: 100vw;
        height: 50vh;
        display: grid;
        grid-template-rows: repeat(2,2fr);
    }

    .invoices{
        /*background: violet;*/
        position: absolute;
        top: 10vh;
        width: 100vw;
        height: 40vh;
        display: flex;
        justify-content: space-around;
        grid-template-rows: repeat(2,1fr);
    }

    .invoice{
        width: 30vw;
        height: 40vh;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        /*border: 1px solid firebrick;*/
    }

    .payment{
        /*position: relative;*/

    }


