
    .page{
        position: absolute;
        top: 10vh;
        /*width: 100vw;*/
        height: 90vh;

        display: grid;
        grid-template-columns: repeat(2 ,2fr);
    }
    .page>:first-child{

        width: 35vw;
    }

    .form{
        /*position: absolute;*/
        top: 3vh;
        width: 35vw;
        height: 70vh;
        background: white;
        border-radius: 10px;
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top:3vh ;

    }

    .form-input>input{
        width: 33vw;
    }

    .form-input{
        width: 33vw;
    }

    .form-button{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .tables{
        /*position: absolute;*/
        width: 62vw;
        top: 0;

        border-radius: 10px;
        margin-top:2vh ;
        margin-right: 1vw;


    }
    .main-payment{
        position: relative;
        top: 10vh;
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }

    .payment{
        position: relative;
        /*top: 10vh;*/
        width: 65vw;
        height: 90vh;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        /*border: 2px solid navy;*/
    }

    .invoices{
        /*background: violet;*/
        position: relative;
        top: 1vh;
        /*width: 100vw;*/

        height: 40vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .invoice{
        width: 30vw;
        height: 40vh;
        background: white;
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        /*border: 1px solid firebrick;*/
    }
    .invoice>label{
        color: #0d6efd;
        border: 2px solid #0d6efd;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
    }
    .invoice>div{
        width: 25vw;
        height: 30vh;
        /*border: 1px solid darkblue;*/
    }

    .payment>:nth-child(2)>table{
        position: relative;
        width: 64vw;

    }
    .place-order{
        position: relative;
        top: 1vh;
        height: 87vh;
        grid-template-rows: repeat(5 ,1fr);

    }
    .place-order>div>form>div{
        margin-top: 2vh;
    }

    .order-label{
        display: flex;
        align-items: center;
    }
    /*.order-label>:first-child{*/
    /*    width: 6vw;*/
    /*}*/
    .place-order>div>form>div>label{
            width: 6vw;
    }

    .qty-cart{
        display: flex;
        align-items: center;
    }
    .qty-cart>input{
        width: 15vw;
        margin-right: 2vw;
    }
    .cash-section{
        margin-top: 2vh;


    }
    .cash-section>div{
        display: flex;
        align-items: center;
    }
    .cash-section>div>input{
        width: 15vw;
    }

    .cart-btn{
        width: 25vw;
    }
    #balance{
        width: 15vw;
    }


